@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html {
    font-size: 62.4%;

}

body {
    background: url(../background\ pic4.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 83, 83);
    font-family: 'Capriola', sans-serif;

}

.insider-1 {
    background-color: #323232;
    border-radius: 20px;
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
}

.dom0 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dom0 a {
    border: none;
    list-style-type: none;
    text-decoration: none;
}

.common {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
}

.introduction:hover {
    border: 3px solid rgb(204, 22, 122);
    border-radius: 15px;
}

.education:hover {
    border: 3px solid rgb(204, 22, 122);
    border-radius: 15px;
}

.experience:hover {
    border: 3px solid rgb(204, 22, 122);
    border-radius: 15px;
}

.dom0 .skills {
    border: 3px solid rgb(204, 22, 122);
    border-radius: 15px;
}

.dom1 {
    width: 90%;
}

.row {
    height: 50%;
    display: flex;
    color: white;
}

.col {
    width: 50%;
    font-size: 16px;
    padding: 0 1rem;
}

.col-d {
    /* border-right: 4px solid rgb(87, 85, 85); */
    display: flex;
    flex-direction: column;

}

.col-e {
    display: flex;
    height: 100%;
}

.col1 {
    width: 100%;
    padding: 0 1rem;

}

.col2 {
    /* padding-left: -5rem; */
    margin-left: -5rem;
}

.afwe {
    padding-right: 5px;
}

.col a {
    text-decoration: none;
    color: white;
}

.col a:hover {
    color: rgb(204, 22, 122);
}

.col li {
    list-style-type: none;
    font-size: 18px;
    padding: 5px 25px;

}

.row1 {
    border-bottom: 4px solid rgb(87, 85, 85);
}

.rating {
    padding-top: 1.5rem;
    padding-left: 3rem;
}
@media (max-width: 1110px) {
    .dom0 a {
        font-size: 14px;
    }

}